* {
  margin:0;
  padding:0;
  box-sizing:inherit;
}

.html {
  font-size:62.5%;
}

body {
  background-image:url('./assets/pexels-photo-164005_wood.jpeg');
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:fixed;  
  background-size:cover;
  height:auto;
  box-sizing: border-box
}